@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
background-color: #eebdb5;
margin-top: 120px;
}

form {
  background-color: #eebdb5;
  border-style: solid;
  border-color: #b36b5e;
  border-width: 2px;
  border-radius: 20px;
  width: 40rem;
  margin: auto;
  font-family: 'Lato', sans-serif;
}

.form-group {
  margin: 40px;
  width: auto;
  justify-content: center;
}

#artist-label {
  margin-top: 25px;
}

.btn {
  background-color: #e0dec4;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #b36b5e;         
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #b36b5e;
  margin-bottom: 10%;
  margin-left: 40%;
}

.btn:hover {
  background-color: #b36b5e;
  color: #e0dec4;
  transition: 0.5s;
  border-color: #e0dec4;
  border-style: solid;
  border-width: 2px;
}

#artist-info {
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin: 30px;
}
