@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
background: #98a398;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #98a398, #699cb3, #98a398);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #98a398, #699cb3, #98a398); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

margin-top: 120px;
}

form {
  background: #e0dec4;
  background: -webkit-linear-gradient(to left, #e0dec4, #699cb3, #e0dec4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #e0dec4, rgb(243, 208, 195), #e0dec4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-style: solid;
  border-color: #b36b5e;
  border-width: 3px;
  border-radius: 20px;
  width: 40rem;
  margin: auto;
  font-family: 'Lato', sans-serif;
}

.form-group {
  margin: 40px;
  width: auto;
  justify-content: center;
}

#artist-label {
  margin-top: 25px;
}

.btn {
  background-color: #e0dec4;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #b36b5e;         
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #b36b5e;
  margin-bottom: 10%;
  margin-left: 40%;
}

.btn:hover {
  background-color: #b36b5e;
  color: #e0dec4;
  transition: 0.5s;
  border-color: #e0dec4;
  border-style: solid;
  border-width: 2px;
}

#artist-info {
  text-align: center;
  font-family: 'Lato', sans-serif;
  
  margin: 30px;
}

#content-container {
  white-space: pre-line;
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
  margin: 30px;
}

@media only screen and (max-width: 769px) {
  form {
    background-color: white;
    width: 25rem;
    margin: auto;
    font-family: 'Lato', sans-serif;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}
